{% extends 'core/base.html' %}

{% load static %}

{% block title %}Rectificados{% endblock %}
{% block content %}
  {% for rectificado in rectificados reversed %}
    <section class="page-section">
      <div class="container">
        <div class="product-item">
          <div class="product-item-title d-flex">
            <h1 class="titulo-principal text-white">{{rectificado.title}}</h1>
          </div>
          <img class="product-item-img mx-auto d-flex rounded img-fluid mb-3 mb-lg-0" src="{{rectificado.image.url}}" alt="">
          <div class="product-item-description d-flex ml-auto">
            <div class="bg-faded p-5 rounded">
              <p class="mb-0">{{rectificado.content}}</p>
            </div>  
          </div>
          {% if rectificado.video %}
            <a href="{{rectificado.video}}" target="_blank" style="color: blue; text-decoration: none;">
              <p style="text-align: center;" class="mb-0">Haz click para ver vídeo</p>
            </a>
          {% endif %}
        </div>
      </div>
    </section>
  {% endfor %}
{% endblock %}


