{% extends 'core/base.html' %}

{% load static %}

{% block title %}Historia{% endblock %}

{% block content %}

  <section class="page-section about-heading">
    <div class="container">
      <img class="img-fluid rounded about-heading-img mb-3 mb-lg-0" src="img/about.jpg" alt="">
      <div class="about-heading-content">
        <div class="row">
          <div class="col-lg-10 mx-auto">
            <div class="bg-beige-translucent rounded p-5 mx-auto">
              <h2 class="section-heading mb-4 text-center">
                <span class="section-heading-lower">Manuel Velasco Contreras</span>
              </h2>
              <p>Músico multi-instrumentista y de amplia perspectiva, nace en Sevilla en 1978. A los 12 años comienza a tocar guitarra clásica.Posteriormente y tras pertenecer como guitarrista a varios grupos de rock, blues y funky, comienza a estudiar saxofón y tres años más tarde clarinete.</p>
              <p>En su polifacético perfil de músico, se incluye la docencia, la grabación y edición musical y sus trabajos como luthier de saxofones. </p>
              <p>Su amor por el instrumento de viento y su afán por el perfeccionamiento del sonido le ha llevado a crear su propia marca de boquillas de saxofón: BOQUILLAS CONTRERAS.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

{% endblock %}