{% extends 'core/base.html' %}

{% load static %}

{% block title %}Historia{% endblock %}

{% block content %}

  <section class="page-section about-heading">
    <div class="container">
      <img class="img-fluid rounded about-heading-img mb-3 mb-lg-0" src="img/about.jpg" alt="">
      <div class="about-heading-content">
        <div class="row">
          <div class="col-xl-9 col-lg-10 mx-auto">
            <div class="bg-faded rounded p-5">
              <h2 class="section-heading mb-4">
                <span class="section-heading-upper">Manuel Contreras</span>
                <span class="section-heading-lower">Todo empezó...</span>
              </h2>
              <p>Soy músico, guitarrista y saxofonista.</p>
              <p>Pero también soy artesano de vocación. Llevo muchos años haciendo rectificados y arreglos de todo tipo.</p>
              <p>Fabrico mis propias boquillas: CONTRERAS</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

{% endblock %}