{% extends "core/base.html" %}
{% load static %}

{% block content %}
  <section class="page-section clearfix">
    <div class="container">
      <div class="row">
        <div class="col-xl-9 mx-auto">
          <div class="cta-inner text-center rounded">
            <h2 class="section-heading mb-4">
              <span class="section-heading-lower-h">CONSTRUCTOR Y LUTHIER DE BOQUILLAS DE SAXOFÓN</span>
            </h2>
          </div>
        </div>
      </div>
    </div>
    <div class="about-heading-content">
      <div class="row">
        <div class="col-xl12 col-lg-2 mx-auto">
          <div class="bg-faded rounded p-5">
            <p>Fabrico boquillas CONTRERAS de ebonita y de metal para saxo alto, tenor....</p>
            <p>Hago rectificados de tipo tarajjd s fldskjf sdjf.....</p>
          </div>
        </div>
      </div>
    </div>

  </section>
{% endblock %}
