{% extends "core/base.html" %}
{% load static %}

{% block content %}
<section class="page-section about-heading">
  <div class="container">
    <img class="img-fluid rounded about-heading-img mb-3 mb-lg-0" src="img/about.jpg" alt="">
    <div class="about-heading-content">
      <div class="row">
        <div class="col-lg-10 mx-auto">
          <div class="bg-beige-translucent rounded p-5 mx-auto" style="max-width: 900px;">
            <h2 class="section-heading mb-3 text-center">
              <span class="section-heading-lower">Luthier de saxofones y constructor de boquillas</span><br>
              <span class="section-heading-lower">Manu Contreras</span>
            </h2>
            <ul class="list-unstyled mt-2">
              <li class="mb-2">
                <strong>Luthier de saxofones:</strong> Me dedico a la reparación, restauración y mantenimiento de saxofones: enzapatillados completos o parciales, ajustes de precisión y todo lo necesario para devolverle la mejor respuesta y sonoridad a tu instrumento.
              </li>
              <li class="mb-2">
                <strong>Constructor de boquillas Contreras:</strong> Soy constructor artesanal de boquillas para saxofón tenor, alto y soprano, elaboradas por encargo y a mano con ebonita de primera calidad. Diseños pensados especialmente para jazz y música moderna, inspirados en modelos clásicos que han marcado la historia de estos estilos.
              </li>
              <li class="mb-2">
                <strong>Rectificados:</strong> Además, realizo todo tipo de ajustes y reparaciones de boquillas: cambios de apertura para personalizar la emisión, modificación del tono y la respuesta, y reparación de grietas o roturas en boquillas de cualquier material.
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}
