{% extends 'core/base.html' %}

{% load static %}

{% block title %}Contacto{% endblock %}

{% block content %}
<section class="page-section contact-section">
  <div class="container">
    <div class="contact-box">
      <h2 class="contact-title">¿Quieres contactar conmigo?</h2>
      <p>Escríbeme directamente por WhatsApp o correo electrónico:</p>
      
      <p><strong>WhatsApp:</strong>  
          <p class="contact-link"> +34 686 698 950 </p>
      </p>

      <p><strong>Email:</strong>  
          <p class="contact-link">manuvelascocontreras</p>
          <p class="contact-link">@gmail.com</p>
      </p>
    </div>
  </div>
</section>

{% endblock %}